<div>
  <span>MEMORY</span>
</div>

<div class="total-revenue-card">
  <span>Total revenue</span>
  <%= @total_revenue %>
</div>

<div class="average-revenue-card">
  <span>Average revenue per order</span>
  <%= @average_revenue %>
</div>

<div class="nb-of-customers-card">
  <span>number of unique customers</span>
  <%= @number_of_customers %>
</div>

